<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicketSellingQueryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1300/Services/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITicketSellingQueryService"
                contract="ITicketSellingQueryService" name="BasicHttpBinding_ITicketSellingQueryService" />
        </client>
    </system.serviceModel>
</configuration>