<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicketSellingQueryService" />
                <binding name="BasicHttpBinding_ITicketSellingQueryService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/Services/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITicketSellingQueryService"
                contract="ITicketSellingQueryService" name="BasicHttpBinding_ITicketSellingQueryService" />
            <endpoint address="http://localhost:9090/Services/TicketSellingQueryService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketSellingQueryService1"
                contract="ITicketSellingQueryService" name="BasicHttpBinding_ITicketSellingQueryService1" />
        </client>
    </system.serviceModel>
</configuration>