<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint binding="webHttpBinding" bindingConfiguration="" contract="FlightSearchServerCA.ITicketSellerRegistration"
        name="webHttpEndpoint" />
    </client>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="TicketSellingServer.TicketSellingQueryService">
        <endpoint  binding="basicHttpBinding" contract="TicketSellingServer.ITicketSellingQueryService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>